<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="Streaming tweets tracking the term 'idiot', see who's mentioned most!">
    <title>404 - ancient-chamber-58466</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
</head>
<body>
  <main>
    <p>404 not found</p>
  </main>
</body>
</html>