*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    color: #111;
    -webkit-font-smoothing: antialiased;
    line-height: 34px;
    letter-spacing: 0.5px;
    font-size: 24px;
    background-color: #fff;
}
main {
    max-width: 800px;
    margin: auto;
    padding: 24px;
    display: flex;
    align-items:
    center;
    height: 100vh;
}
p {
    margin-bottom: 34px;
}
em {
    color: #848484;
}
strong {
    color: #F44336;
}